version: '3'
services:

  vscsync:
    image: speedyh30/vscsync:latest
    platform: linux/amd64
    build:
      context: ./
      dockerfile: ./vscoffline/vscsync/Dockerfile
      platforms:
        - linux/amd64
    dns:
      - 1.1.1.1
    volumes:
      - ./artifacts/:/artifacts/
    environment:
      - SYNCARGS=--sync
      # Enable to sync all extensions
      - SYNCARGS=--syncall
      # Enable a logfile
      - SYNCARGS=--sync --logfile /logs/sync.log

  vscgallery:
    image: speedyh30/vscgallery:2.3.6-beta
    platform: linux/amd64
    build:
      context: ./
      dockerfile: ./vscoffline/vscgallery/Dockerfile
      platforms:
        - linux/amd64
    volumes:
      - ./artifacts/:/artifacts/
    ports:
      - 8080:8080
    environment:
      - BIND=0.0.0.0:8080
