services:

  vscsync:
    image: ghcr.io/speedyh30/vscodeoffline/vscsync:${VSCODE_VERSION:-latest}
    platform: linux/amd64
    build:
      context: ./
      dockerfile: ./vscoffline/vscsync/Dockerfile
      platforms:
        - linux/amd64
    network_mode: host
    volumes:
      - ./artifacts/:/artifacts/
    environment:
      - SYNCARGS=--sync
      # Enable to sync all extensions
      # - SYNCARGS=--syncall
      # Enable a logfile
      # - SYNCARGS=--sync --logfile /logs/sync.log

  vscgallery:
    image: ghcr.io/speedyh30/vscodeoffline/vscgallery:${VSCODE_VERSION:-latest}
    platform: linux/amd64
    build:
      context: ./
      dockerfile: ./vscoffline/vscgallery/Dockerfile
      platforms:
        - linux/amd64
    volumes:
      - ./artifacts/:/artifacts/
    ports:
      - 8080:8080
    environment:
      - BIND=0.0.0.0:8080

